slprj/
**/slprj/
codegen/
**/codegen/
*_rtw/
**/*_rtw/
*_ert_rtw/
**/*_ert_rtw/
*_grt_rtw/
**/*_grt_rtw/
*.slxc
*.slxc.lock
*.asv
*.m~
*.slx.autosave
*.mdl.autosave
*.sldd.autosave
data/*.sldd

results/
**/results/
test-results/
**/test-results/

.DS_Store
._*

esa_swarm/
